{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    {% for movie in watch_later_movies %}
    <a href="{% url 'lab-10:movie_detail' movie.imdbid %}">
    <img class="img-responsive homethumb" src="{{ movie.poster }}">
    <p> {{ movie.title }} </p>
    {% endfor %}
</div>
{% endblock %}
