
* {
  font-family: helvetica;
  color: white;
  margin-top: 15px;
}

body {
  background-color: #222831;
}

input{
  color: black;
}

.text-info {
  color: white;
}
.row{
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 15%;
  border: 0px solid white;
  border-radius: 10px;
  background-color: #393E46;
}
.btn {
  background-color: #F96D00;
  padding: 10px;
  border: 0px solid white;
  border-radius: 5px;
}

.rata-tengah {
  text-align: center;
  margin : 20px;
}
.judul {
  text-transform:uppercase;
  margin-bottom: 50px;
  margin-top: 50px;
}

.footer {
  border-top: 1px solid white;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 10px 5px 10px 5px;
}

.header {
  border-bottom: 1px solid white;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 10px 5px 10px 5px;
}
