body {
  margin-top: 50px;
  margin-bottom: 70px;
  background-color: #305973;
}

#lab8{
  text-align: center;
  width: 100%;
  margin: auto 0;
}

.profile {
  width: 100%;
  text-align: center;
  color: white;
}

.data {
  text-align: center;
  width: 100%;
  margin-top: -30%;
  margin-bottom: 20%;
}

.cover {
  width: inherit;
}

.picture {
  margin-top: -75%;
  border-radius: 100%;
}
#feeds {
  width: 75%;
  margin-left: 12.5%;
}
.feed {
  border: 0px solid grey;
  height : auto;
  padding: 20px;
  margin-top: 10px;
  text-align: left;
  font-size: 20px;
}

.message {
  background-color: #F9F9F9;
}

 .story{
  background-color: #DED5C4;
}

#postInput {
  margin-top: 5%;
  width : 75%;
  height: 150px;
}

#inputButtons {
  margin-left: 12%;
  padding : 10px 25px 10px 10px;
  text-align: left;
}

.postStatus {
  background-color: #EF7E56;
  color: white;
  width: 100px;
  height : 50px;
  border: 0px solid white;
  border-radius: 5%;
  font-weight: bold;
}

.navbar {
  text-decoration : none;
  background-color: #EF7E56;
  color : white;
}

#navbar {
  background-color: inherit;
  border: 0px solid white;
  padding-top: 15px;
}

.logout {
    background-color: inherit;
    border: 0px solid white;
}

.login {
    background-color: inherit;
    border: 0px solid white;
}

#loginMenu {
  color: white;
  margin-top: 25%;
}

.delete {
  font-size: 15px;
  border: 0px solid white;
  background-color: #EF7E56;
  color: white;
  border-radius: 5%;
}

a {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 768px) {
  .data {
    margin-top: -50%;
  }
  .picture {
    margin-top: -110%;
  }
  body {
    width: auto;
  }
  #loginMenu{
    margin-top: 75%;
  }
}
