{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1>Portfolio</h1>
<hr>
<section name="bio">
    <h2>Saya</h2>
    <p>
        {{content}}
    </p>
</section>
<hr>
<section name="about_me">
    <h2>Tentang saya</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr>
<section name="form">
    <h2>Send Me Words</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
<hr/>

{% endblock %}
